// see also components/data/scss/data-table.scss

.data-toolbar {
  margin-left: -10px;
  text-align: left !important;
}

.data-table {
  margin-top: 2.1rem;

}

.data-details {
    margin-top: 45px;
    padding-right: 10px;
    border-bottom: 0.01px solid rgba(153, 153, 153, 0.38);
  }

  .data-detail-table {
    margin: 5px;
  }

  /*hover 及 focus 时不改变样式*/

  $border: #d7dde4;
  .readonly-input {
    input {
      &:hover {
        border-color: $border;
      }

      &:focus {
        border-color: $border;
        box-shadow: none;
      }
    }
  }
